<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMDb Top 100 Movies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
    <h1>IMDb Top 100 Movies</h1>
    <form action="/" method="POST">
        <input type="text" name="search_query" placeholder="Search by movie name">
        <button type="submit">Search</button>
        <input type="text" name="search_query1"placeholder="search by rank">
        <button type="submit1">search</button>
    </form>
    <div class="movies-container">
        {% if movies %}
            {% for movie in movies %}
                <div class="movie-card">
                    <h2>{{ movie.title }}</h2>
                    <p>Rank: {{ movie.rank }}</p>
                    <p>Year: {{ movie.year }}</p>
                    <p>Rating: {{ movie.rating }}</p>
                    <p>Detail:{{movie.description}}</p>
                    <img src="{{ movie.image }}" alt="Movie Poster">
                </div>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>
